﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sistema de Información Institucional Integral. | @ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <!-- Special Render -->
    @RenderSection("head_scripts", required: false)

    @Styles.Render("~/plugins/fullCalendarStyles")

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")


    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

    <meta name="description" content="The description of my page" />
</head>

@if (Request.IsAuthenticated)
{
    <body class="top-navigation">

        <div id="wrapper">

            

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

                <!-- Top Navbar -->
                @Html.Partial("_TopNavbar")

                <!-- Main view  -->
                <div class="@ViewBag.Class body-content">
                    @RenderBody()
                </div>

                <!-- Footer -->
                @Html.Partial("_Footer")

            </div>
            <!-- End page wrapper-->
            <!-- Right Sidebar -->
            @Html.Partial("_RightSidebar")

        </div>

    </body>
}
else
{
    <body class="gray-bg">
        @RenderBody()
    </body>
}

<!-- Section for main scripts render -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/plugins/slimScroll")
@Scripts.Render("~/bundles/inspinia")
@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/validate")
@Scripts.Render("~/plugins/fullCalendar")
@Scripts.Render("~/plugins/iCheck")

<!-- Handler for local scripts -->
@RenderSection("scripts", required: false)
</html>

<!-- Flot -->
<script src="~/Scripts/plugins/flot/jquery.flot.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.spline.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.resize.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.pie.js"></script>
<script src="~/Scripts/plugins/flot/jquery.flot.symbol.js"></script>
<script src="~/Scripts/plugins/flot/curvedLines.js"></script>

<!-- Peity -->
<script src="~/Scripts/plugins/peity/jquery.peity.min.js"></script>

<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>

<script src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>
<script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>

<script>
    $(document).ready(function () {

        $('input[name="daterange"]').daterangepicker();

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#data_5 .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });
        
    });
</script>