﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            @if (Request.IsAuthenticated)
            {
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="~/Content/imagenes/profile_small.jpg" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong>
                                </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                            <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                            <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
            }
            
            @if (User.IsInRole("Aspirante"))
            {
                <li>
                    <a href="@Url.Action("Index", "FichaInscripcion")"><i class="fa fa-folder-open"></i> <span class="nav-label">Cedula Inscripción</span>  </a>
                </li>
            }

            @if (User.IsInRole("Admin"))
            {
                <li class="">
                    <a href="index.html"><i class="fa fa-edit"></i> <span class="nav-label">Formularios</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: 0px;">
                        <li><a href="@Url.Action("Index", "AreaAcontecimientos" )"><i class="fa fa-magic"></i>Area de acontecimientos</a></li>
                        <li><a href="@Url.Action("Index", "AsignacionHoras" )"><i class="fa fa-magic"></i>Asignacion de horas</a></li>
                        <li><a href="@Url.Action("Index", "Asignaturas" )"><i class="fa fa-magic"></i>Asignaturas</a></li>
                        <li><a href="@Url.Action("Index", "Autores" )"><i class="fa fa-magic"></i>Autores</a></li>
                        <li><a href="@Url.Action("Index", "Carreras" )"><i class="fa fa-magic"></i>Carreras</a></li>
                        <li><a href="@Url.Action("Index", "Contratos" )"><i class="fa fa-magic"></i>Contratos</a></li>
                        <li><a href="@Url.Action("Index", "Cuatrimestres" )"><i class="fa fa-magic"></i>Cuatrimestres</a></li>
                        <li><a href="@Url.Action("Index", "Departamentos" )"><i class="fa fa-magic"></i>Departamentos</a></li>
                        <li><a href="@Url.Action("Index", "Direcciones" )"><i class="fa fa-magic"></i>Direcciones</a></li>
                        <li><a href="@Url.Action("Index", "Divisiones" )"><i class="fa fa-magic"></i>Divisiones</a></li>
                        <li><a href="@Url.Action("Index", "Especialidades" )"><i class="fa fa-magic"></i>Especialidades</a></li>
                        <li><a href="@Url.Action("Index", "Grupos" )"><i class="fa fa-magic"></i>Grupos</a></li>
                        <li><a href="@Url.Action("Index", "Libros" )"><i class="fa fa-magic"></i>Libros</a></li>

                        <li><a href="@Url.Action("Index", "ProgramasEducativos" )"><i class="fa fa-magic"></i>Programas educativos</a></li>
                        <li><a href="@Url.Action("Index", "PuestosLaborales" )"><i class="fa fa-magic"></i>PuestosLaborales</a></li>
                        <li><a href="@Url.Action("Index", "Temas" )"><i class="fa fa-magic"></i>Temas</a></li>
                        <li><a href="@Url.Action("Index", "UnidadesTematicas" )"><i class="fa fa-magic"></i>UnidadesTematicas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Instalaciones</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Index", "Cubiculos")"><i class="fa fa-magic"></i>Cubiculos</a></li>

                        <li><a href="@Url.Action("Index", "Edificios")"><i class="fa fa-magic"></i>Edificios</a></li>
                        <li><a href="@Url.Action("Index", "Habitaciones")"><i class="fa fa-magic"></i>Habitaciones</a></li>


                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Usuarios</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "Aspirantes")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Layouts</span> <span class="label label-primary pull-right">NEW</span></a>
                        </li>
                        <li><a href="@Url.Action("Index", "Administrativos")"><i class="fa fa-magic"></i>Administrativos</a></li>
                        <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-magic"></i>Alumnos</a></li>
                        <li><a href="@Url.Action("Index", "Aspirantes")"><i class="fa fa-magic"></i>Aspirantes</a></li>
                        <li><a href="@Url.Action("Index", "Directores")"><i class="fa fa-magic"></i>Directores</a></li>
                        <li><a href="@Url.Action("Index", "Egresados")"><i class="fa fa-magic"></i>Egresados</a></li>
                        <li><a href="@Url.Action("Index", "Personales")"><i class="fa fa-magic"></i>Personales</a></li>
                        <li><a href="@Url.Action("Index", "PAs")"><i class="fa fa-magic"></i>PAs</a></li>
                        <li><a href="@Url.Action("Index", "PTCs")"><i class="fa fa-magic"></i>PTCs</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Maestro</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Index", "Horarios")"><i class="fa fa-clock-o"></i>Horarios</a></li>
                        <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-magic"></i>Concentrados</a></li>
                        <li><a href="@Url.Action("Index", "Aspirantes")"><i class="fa fa-users"></i>Tutorados</a></li>
                        <li><a href="@Url.Action("Index", "Grupos")"><i class="fa fa-users"></i>Grupos</a></li>
                        <li><a href="@Url.Action("Index", "Egresados")"><i class="fa fa-exclamation-circle"></i>Avisos</a></li>
                        <li><a href="@Url.Action("Index", "Personales")"><i class="fa fa-calendar"></i>Calendario</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-graduation-cap"></i> <span class="nav-label" data-i18n="nav.menulevels">Alumno</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Index", "Administrativos")"><i class="fa fa-users"></i>Tutores</a></li>
                        <li><a href="@Url.Action("Documentos", "Alumnos")"><i class="fa fa-folder-open"></i>Documentos</a></li>
                        <li><a href="@Url.Action("Index", "Aspirantes")"><i class="fa fa-magic"></i>Estados</a></li>
                        <li>
                            <a href="@Url.Action("Index", "Directores")"><i class="fa fa-magic"></i>Academico</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Horarios")"><i class="fa fa-clock-o"></i>Horario</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-check-square-o"></i>Faltas</a></li>
                                <li><a href="@Url.Action("Index", "Calificaciones")"><i class="fa fa-magic"></i>Calificaciones</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-history"></i>Histórico</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-file-text-o"></i>Reinscripción</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Directores")"><i class="fa fa-plus"></i>Herramientas</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-exclamation-circle"></i>Avisos</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-calendar"></i>Calendario</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Servicios Escolares</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "Directores")"><i class="fa fa-magic"></i>Administración</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Administrativos")"><i class="fa fa-key"></i>Cambio de contraseña</a></li>
                                <li><a href="@Url.Action("Index", "Horarios")"><i class="fa fa-clock-o"></i>Horario por aula</a></li>
                                <li><a href="@Url.Action("Index", "Carreras")"><i class="fa fa-magic"></i>Carreras</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-list-ol"></i>Lista de documentos</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-file-text-o"></i>Reinscripción</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-users"></i>Alumnos</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-list"></i>Lista de alumnos</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-globe"></i>Estudiantes de intercambio</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Aspirantes")"><i class="fa fa-users"></i>Aspirantes</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Aspirantes")"><i class="fa fa-list"></i>Lista de aspirantes</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-file"></i>Expedientes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Grupos")"><i class="fa fa-users"></i>Grupos</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Grupos")"><i class="fa fa-list"></i>Lista de aspirantes</a></li>
                                <li><a href="@Url.Action("Index", "Grupos")"><i class="fa fa-magic"></i>Aprovechamientos</a></li>
                                <li><a href="@Url.Action("Index", "Grupos")"><i class="fa fa-magic"></i>Reportes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Directores")"><i class="fa fa-users"></i>Maestros</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "PTCs")"><i class="fa fa-list"></i>PTCs</a></li>
                                <li><a href="@Url.Action("Index", "PAs")"><i class="fa fa-plus"></i>PAs</a></li>
                                <li><a href="@Url.Action("Index", "Alumnos")"><i class="fa fa-magic"></i>Expedientes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Materias")"><i class="fa fa-list-alt"></i>Materias</a>
                            <ul class="nav nav-third-level">
                                <li><a href="@Url.Action("Index", "Materias")"><i class="fa fa-magic"></i>Lista de materias</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            }
            

           
        </ul>

    </div>
</nav>