﻿@model ADES.Models.PersonalMP

@{
    ViewBag.Title = "Create";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create PersonalMP</h5>
                </div>
                <div class="ibox-content">

                @using (Html.BeginForm("Create", @controllerName, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.id, "id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidoPaterno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidoPaterno)
                @Html.ValidationMessageFor(model => model.apellidoPaterno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidoMaterno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidoMaterno)
                @Html.ValidationMessageFor(model => model.apellidoMaterno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numIdentificación, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numIdentificación)
                @Html.ValidationMessageFor(model => model.numIdentificación)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.curp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.curp)
                @Html.ValidationMessageFor(model => model.curp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaNacimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaNacimiento)
                @Html.ValidationMessageFor(model => model.fechaNacimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.celular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.celular)
                @Html.ValidationMessageFor(model => model.celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoIdentificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.tipoIdentificacion, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoIdentificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.sexo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estadoCivil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.estadoCivil, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estadoCivil)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaAlta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaAlta)
                @Html.ValidationMessageFor(model => model.fechaAlta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numEmplead, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numEmplead)
                @Html.ValidationMessageFor(model => model.numEmplead)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mesa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mesa)
                @Html.ValidationMessageFor(model => model.mesa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
