﻿@model ADES.Models.TipoDenuncia

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details TipoDenuncia</h5>
                </div>
                <div class="ibox-content">
				  <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
				    <thead>
						<tr>
				  				  				  				    <th data-toggle="true">@Html.DisplayNameFor(model => model.nombre)</th>
				  					 
				  				  				  				    <th data-toggle="true">@Html.DisplayNameFor(model => model.descipcion)</th>
				  					 
				  				  				  					<th data-hide="all">@Html.DisplayNameFor(model => model.IsDeleted)</th>
				  					 
				  				  				  					<th data-hide="all">@Html.DisplayNameFor(model => model.RowVersion)</th>
				  					 
				  				</tr>
				</thead>
				<tbody>
				<tr>

				 				  				 <td>@Html.DisplayFor(model => model.nombre)</td>
				  				  				 <td>@Html.DisplayFor(model => model.descipcion)</td>
				  				  				 <td>@Html.DisplayFor(model => model.IsDeleted)</td>
				  				  				 <td>@Html.DisplayFor(model => model.RowVersion)</td>
				  				</tbody>
			
</table>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>

 @section Styles {
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable");

    <script>
        $(document).ready(function () {
            $('.footable').footable();
        });

    </script>


}

