﻿





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Grupos por periodo cuatrimestral</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div> 
                </div>
            <div class="ibox-content">
                <form id="form" action="#"class="wizard-big">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Seleccionar periodo a trabajar</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Seleccionar carrera</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Seleccionar área</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Seleccionar cuatrimestre</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Seleccionar grupo</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Salón predeterminado</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Seleccionar turno</label>
                                <input list="Civils" name="Civil" class="form-control col-lg-4">
                                <datalist id="Civils">
                                    <option value="Soltero">
                                    <option value="Casado">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <label>Grupos creados</label>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input id="domicilio" name="domicilio" type="text" class="form-control ">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="button" id="crear" class="col-lg-1 btn btn-primary btn-circle" aria-hidden="true" data-toggle="modal" data-target="#create-modal">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-lg-12" style="border-bottom: 2px solid #ccc; padding-bottom:15px;">
                            
                        </div>
                    </div>
                    <div class="row">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
            <tr>
                <th>
                    Periodo
                </th>
                <th>
                    Carrera
                </th>
                <th>
                    Área
                </th>
                <th>
                    Cuatrimestre
                </th>
                <th>
                    Grupo
                </th>
                <th>
                    Salón
                </th>
                <th>
                    Acción
                </th>
                
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>