﻿
@{
    ViewBag.Title = "Profesor";
}

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Semana</span>
                <h5>Horas de clase</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">450</h1>
                <div class="stat-percent font-bold text-success"><i class="fa fa-clock-o"></i></div>
                <small>Horas a la semana</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Semanal</span>
                <h5>Horas de tutoría</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">80</h1>
                <div class="stat-percent font-bold text-info"><i class="fa fa-clock-o"></i></div>
                <small>Horas a la semana</small>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">semana</span>
                <h5>Otros</h5>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-4">
                        <h1 class="no-margins">20</h1>
                        <div class="font-bold text-navy"><i class="fa fa-clock-o"></i> <small>Hrs. de investigación</small></div>
                    </div>
                    <div class="col-md-4">
                        <h1 class="no-margins">0</h1>
                        <div class="font-bold text-navy"><i class="fa fa-clock-o"></i> <small>Hrs. de diseño</small></div>
                    </div>
                    <div class="col-md-4">
                        <h1 class="no-margins">4</h1>
                        <div class="font-bold text-navy"><i class="fa fa-clock-o"></i> <small>Hrs. de capacitación</small></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <h3 class="font-bold no-margins">
                        Estadísticas grupales
                    </h3>
                    <small>Índice de aprobación</small>
                </div>

                <div class="m-t-sm">

                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                @((DotNet.Highcharts.Highcharts)ViewBag.ChartBar1)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="stat-list m-t-lg">
                                <li>
                                    <h2 class="no-margins">29</h2>
                                    <small>Alumnos en el grupo ITIC72</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 100%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">27</h2>
                                    <small>Alumnos en el grupo ITIC71</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 100%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">20</h2>
                                    <small>Alumnos en el grupo IMI91</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 100%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        Última actualización @DateTime.Now
                    </small>
                    <small>
                        <strong>Los datos</strong> son obtenidos en base a la última unidad.
                    </small>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Hoy <i class="fa fa-clock-o"></i></span>
                <h5>Horario de clases</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-group"></i> Grupo</small>
                        <h4>ITIC72</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-clock-o"></i> Hora</small>
                        <h4>4:40 PM</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-building"></i> Edificio/Salón</small>
                        <h4>H125</h4>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-group"></i> Grupo</small>
                        <h4>ITIC71</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-clock-o"></i> Hora</small>
                        <h4>7:30 PM</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-building"></i> Edificio/Salón</small>
                        <h4>Laboratorio H123</h4>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-group"></i> Grupo</small>
                        <h4>IMI91</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-clock-o"></i> Hora</small>
                        <h4>8:50 PM</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label"><i class="fa fa-building"></i> Edificio/Salón</small>
                        <h4>H122</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Tutoría</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <h3>Grupos Tutorados</h3>
                <p class="small"><i class="fa fa-exclamation-triangle"></i> Enviar una alerta por correo electrónico</p>
                <div id="listTask">
                    <ul class="sortable-list connectList agile-list ui-sortable" id="inprogress">
                        <li class="success-element" id="task9">
                           ITIC72
                            <div class="agile-detail">
                                <i class="fa fa-clock-o"></i> 12.10.2015
                            </div>
                        </li>
                        <li class="success-element" id="task10">
                            IMI91
                            <div class="agile-detail">
                                <i class="fa fa-clock-o"></i> 05.04.2015
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Calendario de ventos</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            // Add slimscroll to element
            $('.scroll_content').slimscroll({
                height: '350px'
            })

            /* initialize checkbox
        -----------------------------------------------------------------*/
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            /* initialize the calendar
        -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                height: 400,
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1)
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d - 5),
                        end: new Date(y, m, d - 2)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://google.com/'
                    }
                ]
            });



        });
    </script>
}
