﻿
<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
@{
    ViewBag.Title = "Servicios";
}

<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Profesores de tiempo completo </span>
                        <h2 class="font-bold">63</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>  Profesores de asignatura </span>
                        <h2 class="font-bold">51</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-graduation-cap  fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>Total de profesor en la universidad </span>
                        <h2 class="font-bold">114</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Eventos <i class="fa fa-calendar"></i></span>
                    <h5>Calendario de eventos</h5>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
           
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Estadísticas <i class="fa fa-bar-chart"></i></span>
                    <h5>Estadísticas</h5>
                </div>
                <div class="ibox-content">
                    @((DotNet.Highcharts.Highcharts)ViewBag.ChartBar)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Profesores que faltan renovar contrato</h3>
                    <p class="small"><i class="fa fa-exclamation-triangle"></i> Enviar una alerta por correo electrónico</p>
                    <div id="listTask" style="height: 450px;">
                        <ul class="sortable-list connectList agile-list ui-sortable" id="inprogress">
                            <li class="success-element" id="task9">
                                Zoila María García Cen - Division Económico Administrativo
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta('Zoila María García Cen')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 12.10.2015
                                </div>
                            </li>
                            <li class="success-element" id="task10">
                                José Moisés Puc Torres - División de ingeniería y tecnologías
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta('José Moisés Puc Torres')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 05.04.2015
                                </div>
                            </li>
                            <li class="warning-element" id="task11">
                                Yesica Méndez Rojas - División de ingeniería y tecnologías
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta(' Yesica Méndez Rojas')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 16.11.2015
                                </div>
                            </li>
                            <li class="warning-element" id="task12">
                                Xochilt Herrera Blanco - División de turismo
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta('Xochilt Herrera Blanco')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 09.12.2015
                                </div>
                            </li>
                            <li class="info-element" id="task13">
                                Viviana Vázquez Lara - División de Gastronomía
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta('Viviana Vázquez Lara')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 08.04.2015
                                </div>
                            </li>
                            <li class="success-element" id="task14">
                                Veronica Tapia Aransay - División de ingeniería y tecnologías
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta('Veronica Tapia Aransay')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 05.04.2015
                                </div>
                            </li>
                            <li class="danger-element" id="task15">
                                Victor Ruiz Celaya - División de turismo
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-warning" onclick="enviarAlerta('Victor Ruiz Celaya')">Enviar Alerta</a>
                                    <i class="fa fa-clock-o"></i> 11.04.2015
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Alumnos faltantes de pago de inscrípción</h5>
                    <div class="ibox-tools">
                        <a class="pull-right btn btn-xs btn-outline btn-success" onclick="sendToAll()">Notificar a todos</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="tableAlumno">
                        <table class="table" id="tableAlumno">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Carrera</th>
                                    <th>Cuatrimestre</th>
                                    <th>Estatus de pago</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gerardo Ake Dzib</td>
                                    <td>ITIC 71</td>
                                    <td>Septimo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Alexis Castañeda Segura</td>
                                    <td>IFF81</td>
                                    <td>Octavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                                <tr>
                                    <td>Patrick Aban Alvarez</td>
                                    <td>ITIC112</td>
                                    <td>Onceavo</td>
                                    <td>Pendiente</td>
                                    <td><button class="btn btn-outline btn-warning" type="button"><i class="fa fa-send"></i> <span class="bold">Enviar Alerta</span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Estadísticas Alumnos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @((DotNet.Highcharts.Highcharts)ViewBag.ChartLineTSU)
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Estadísticas Alumnos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @((DotNet.Highcharts.Highcharts)ViewBag.ChartLine5A)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Becas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table" id="tableAlumno">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Inscritos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pronabes</td>
                                <td>2016/08</td>
                                <td>2017/08</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Academica</td>
                                <td>2016/09</td>
                                <td>2016/12</td>
                                <td>250</td>
                            </tr>
                            <tr>
                                <td>Deportiva</td>
                                <td>2016/09</td>
                                <td>2016/12</td>
                                <td>71</td>
                            </tr>
                            <tr>
                                <td>Alimentaria</td>
                                <td>2016/09</td>
                                <td>2016/12</td>
                                <td>112</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Convocatoria de becas</h3>
                    <p class="small"><i class="fa fa-exclamation-triangle"></i> Notificar a tutores</p>
                    <div>
                        <ul class="sortable-list connectList agile-list ui-sortable" id="inprogress">
                            <li class="success-element" id="task9">
                                Manutención
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-info" onclick="enviarAlerta('Zoila María García Cen')">Ver detalles</a>
                                    <i class="fa fa-clock-o"></i> 12.10.2015
                                </div>
                            </li>
                            <li class="success-element" id="task10">
                                CONACYT
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-info" onclick="enviarAlerta('José Moisés Puc Torres')">Ver detalles</a>
                                    <i class="fa fa-clock-o"></i> 05.04.2015
                                </div>
                            </li>
                            <li class="warning-element" id="task11">
                                Intercambio a colombia
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs btn-outline btn-info" onclick="enviarAlerta(' Yesica Méndez Rojas')">Ver detalles</a>
                                    <i class="fa fa-clock-o"></i> 16.11.2015
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br />

@section Scripts {

    <script>
        $(document).ready(function () {
            // Add slimscroll to element

  

            $('#listTask').slimScroll({
                height: '450px',
                railOpacity: 0.4,
                wheelStep: 10
            });
            $('#tableAlumno').slimScroll({
                height: '450px',
                railOpacity: 0.4,
                wheelStep: 10
            });

            /* initialize checkbox
        -----------------------------------------------------------------*/
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            /* initialize the calendar
        -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1)
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d - 5),
                        end: new Date(y, m, d - 2)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://google.com/'
                    }
                ]
            });

        });
        function enviarAlerta(correo) {
            swal({
                title: "¡Alerta enviada!",
                text: "Se notificará a " + correo + " , el mensaje de renovación de contrato.",
                type: "success"
            });
        };

        function sendToAll() {
            swal({
                title: "Confirmar envio de alertas a todos.",
                text: "Se enviará una notificacion de pago pendiente a cada uno de los alumnos de la lista.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "¡Si, enviar a todos!",
                closeOnConfirm: false
            }, function () {
                swal("¡Enviado!", "Se enviaron todas las notificaciones.", "success");
            });
        }
    </script>
}
