﻿@model ADES.Models.AmpliarDenuncia

@{
    ViewBag.Title = "Create";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create AmpliarDenuncia</h5>
                </div>
                <div class="ibox-content">

                @using (Html.BeginForm("Create", @controllerName, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idDenuncia, "idDenuncia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idDenuncia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idDenuncia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idMinisterioPublico, "idMinisterioPublico", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idMinisterioPublico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idMinisterioPublico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaInicio)
                @Html.ValidationMessageFor(model => model.fechaInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaFin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaFin)
                @Html.ValidationMessageFor(model => model.fechaFin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estatusEvento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.estatusEvento, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estatusEvento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.relatoria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.relatoria)
                @Html.ValidationMessageFor(model => model.relatoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RowVersion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RowVersion)
                @Html.ValidationMessageFor(model => model.RowVersion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
