﻿@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Acceso";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
       <!--<div>
            <h1 class="logo-name">DE</h1>
        </div>-->
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h3>MESA DE ATENCIÓN TEMPRANA DIGITAL</h3>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>

            <div class="checkbox m-r-xs ">
                @*@Html.CheckBoxFor(m => m.RememberMe, new { id = "rememberme" })
                <label for="rememberme">¿Mantener sesion activa?</label>*@
                
            </div>
            @Html.ActionLink("Registrarse", "Register",null,new {@class="pull-left" }) 
            @Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword", null, new { @class = "pull-right" })
            <br />
        }
        <p class="m-t"> <small>Universidad Tecnológica de Cancún</small> </p>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>


}