﻿@model IdentitySample.Models.RegisterViewModel
@using ADES.Models

@{
    Direccion direccion = new Direccion();
    Denunciante denunciante = new Denunciante();
}
@{
    ViewBag.Title = "Registro";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="wrapper wrapper-content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Resgistro</h2>

        </div>
    </div>


    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Registro de usuario</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="wizard">
                            <h1>Información personal</h1>
                            <div class="step-content">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.nombre, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.nombre)
                                            @Html.ValidationMessageFor(m => denunciante.nombre)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.apellidoPaterno, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.apellidoPaterno)
                                            @Html.ValidationMessageFor(m => denunciante.apellidoPaterno)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.fechaNacimiento, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.fechaNacimiento)
                                            @Html.ValidationMessageFor(m => denunciante.fechaNacimiento)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.telefono, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.telefono)
                                            @Html.ValidationMessageFor(m => denunciante.telefono)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.curp, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.curp)
                                            @Html.ValidationMessageFor(m => denunciante.curp)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.apellidoMaterno, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.apellidoMaterno)
                                            @Html.ValidationMessageFor(m => denunciante.apellidoMaterno)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.sexo, new { @class = "control-label" })
                                            @Html.EnumDropDownListFor(m => denunciante.sexo, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => denunciante.sexo)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.estadoCivil, new { @class = "control-label" })
                                            @Html.EnumDropDownListFor(m => denunciante.estadoCivil, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => denunciante.estadoCivil)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.celular, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.celular)
                                            @Html.ValidationMessageFor(m => denunciante.celular)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.numIdentificación, new { @class = "control-label" })
                                            @Html.EditorFor(m => denunciante.numIdentificación)
                                            @Html.ValidationMessageFor(m => denunciante.numIdentificación)
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <h1>Dirección</h1>
                            <div class="step-content">
                                <h2>Dirección</h2>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.colonia, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.colonia)
                                            @Html.ValidationMessageFor(model => direccion.colonia)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.manzana, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.manzana)
                                            @Html.ValidationMessageFor(model => direccion.manzana)
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.lote, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.lote)
                                            @Html.ValidationMessageFor(model => direccion.lote)
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.cp, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.cp)
                                            @Html.ValidationMessageFor(model => direccion.cp)
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.numInterior, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.numInterior)
                                            @Html.ValidationMessageFor(model => direccion.numInterior)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.numExterior, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.numExterior)
                                            @Html.ValidationMessageFor(model => direccion.numExterior)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.calle, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.calle)
                                            @Html.ValidationMessageFor(model => direccion.calle)
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.pais, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.pais)
                                            @Html.ValidationMessageFor(model => direccion.pais)
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.estado, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.estado)
                                            @Html.ValidationMessageFor(model => direccion.estado)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => direccion.ciudad, new { @class = "control-label" })
                                            @Html.EditorFor(model => direccion.ciudad)
                                            @Html.ValidationMessageFor(model => direccion.ciudad)
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <h1>Datos del sistema</h1>
                            <div class="step-content">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => denunciante.tipoIdentificacion, new { @class = "control-label" })
                                            @Html.EnumDropDownListFor(m => denunciante.tipoIdentificacion, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => denunciante.tipoIdentificacion)
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.userName, new { @class = "col-md-2 control-label" })
                                            @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Archivo")
                                            <input type="file" name="file" multiple />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Crear" class="btn btn-primary" />
                                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>




@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

        });
    </script>
}
