﻿@model ADES.Models.Denuncia
@using ADES.Models

@{
    Direccion direccion = new Direccion();
    Responsable responsable = new Responsable();
}

@{
    ViewBag.Title = "Create";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}


<div class="wrapper wrapper-content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Resgistro</h2>

        </div>
    </div>


    @using (Html.BeginForm("Create", "Denuncias", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Registro de usuario</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="wizard">
                            <h1>Información</h1>
                            <div class="step-content">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Expediente</label>
                                            @Html.EditorFor(model => model.numExpediente)
                                            @Html.ValidationMessageFor(model => model.numExpediente)
                                        </div>

                                        <div class="form-group" hidden="hidden">
                                            <label>Certificado</label>
                                            @Html.EditorFor(model => model.certificado)
                                            @Html.ValidationMessageFor(model => model.certificado)
                                        </div>
                                        <div class="form-group" hidden="hidden">
                                            @Html.LabelFor(model => model.longitud, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.longitud, new { @class = "form-control", required = "", @id = "longitude" })
                                                @Html.ValidationMessageFor(model => model.longitud, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group" hidden="hidden">
                                            @Html.LabelFor(model => model.latitud, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.latitud, new { @class = "form-control", required = "", @id = "latitude" })
                                                @Html.ValidationMessageFor(model => model.latitud, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.idTipoDenuncia)
                                            @Html.EditorFor(model => model.idTipoDenuncia)
                                            @Html.ValidationMessageFor(model => model.idTipoDenuncia)

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.folioC4)
                                            @Html.EditorFor(model => model.folioC4)
                                            @Html.ValidationMessageFor(model => model.folioC4)

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.fecha)
                                            @Html.EditorFor(model => model.fecha)
                                            @Html.ValidationMessageFor(model => model.fecha)

                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div id="map_canvas" style="width: 100%; height: 300px;"></div>
                                    </div>
                                </div>

                            </div>
                            <h1>Responsable</h1>
                            <div class="step-content">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => responsable.nombre, new { @class = "control-label" })
                                            @Html.EditorFor(m => responsable.nombre)
                                            @Html.ValidationMessageFor(m => responsable.nombre)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => responsable.telefono, new { @class = "control-label" })
                                            @Html.EditorFor(m => responsable.telefono)
                                            @Html.ValidationMessageFor(m => responsable.telefono)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => responsable.edad, new { @class = "control-label" })
                                            @Html.EditorFor(m => responsable.edad)
                                            @Html.ValidationMessageFor(m => responsable.edad)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => responsable.sexo, new { @class = "control-label" })
                                            @Html.EnumDropDownListFor(m => responsable.sexo, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => responsable.sexo)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">


                                        <div class="form-group">
                                            @Html.LabelFor(m => responsable.estadoCivil, new { @class = "control-label" })
                                            @Html.EnumDropDownListFor(m => responsable.estadoCivil, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => responsable.estadoCivil)
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => responsable.direccion)
                                            @Html.TextAreaFor(model => responsable.direccion, new { @class = "form-control", rows = "5" })
                                            @Html.ValidationMessageFor(model => responsable.direccion)

                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => responsable.rasgosFisicos)
                                            @Html.TextAreaFor(model => responsable.rasgosFisicos, new { @class = "form-control", rows = "5" })
                                            @Html.ValidationMessageFor(model => responsable.rasgosFisicos)

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <h1>Hechos y Evidencias</h1>
                            <div class="step-content">
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.relatoria)
                                        @Html.TextAreaFor(model => model.relatoria, new { @class = "form-control", rows = "10" })
                                        @Html.ValidationMessageFor(model => model.relatoria)

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="col-md-1">
                                                @Html.EditorFor(model => model.aceptacionPoliticas)
                                                @Html.ValidationMessageFor(model => model.aceptacionPoliticas)
                                            </div>
                                            <p>Declaro bajo protesta de decir la verdad que todos los datos incluidos en la solicitud son verídicos.</p>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="file" name="file" multiple />

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>



    }
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

        });
    </script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBLCea8Q6BtcTHwY3YFCiB0EoHE5KnsMUE"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initialize();
        });
        navigator.geolocation.getCurrentPosition(initialize);
        function initialize(position) {
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("latitude").value = position.coords.latitude;
            var mapOptions = {
                center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
              mapOptions);
            // create a marker
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: 'Mi ubicación',
                draggable: true
            });
            google.maps.event.addListener(marker, 'dragend', function (evt) {
                document.getElementById("longitude").value = evt.latLng.lng();
                document.getElementById("latitude").value = evt.latLng.lat();
            });
        }
    </script>
}




