﻿@model ADES.Models.Denuncia

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Denuncia</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.numExpediente, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numExpediente)
                @Html.ValidationMessageFor(model => model.numExpediente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idDenunciante, "idDenunciante", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idDenunciante", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idDenunciante)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoDenuncia, "idTipoDenuncia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoDenuncia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoDenuncia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.folioC4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.folioC4)
                @Html.ValidationMessageFor(model => model.folioC4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.relatoria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.relatoria)
                @Html.ValidationMessageFor(model => model.relatoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha)
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.certificado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.certificado)
                @Html.ValidationMessageFor(model => model.certificado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ipAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipAddress)
                @Html.ValidationMessageFor(model => model.ipAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitud)
                @Html.ValidationMessageFor(model => model.longitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.latitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitud)
                @Html.ValidationMessageFor(model => model.latitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aceptacionPoliticas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aceptacionPoliticas)
                @Html.ValidationMessageFor(model => model.aceptacionPoliticas)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
