﻿@model IEnumerable<ADES.Models.TipoDenuncia>

<div class="wrapper wrapper-content">
    
@foreach (var item in Model) {
    <div class="col-md-4">
        <div>
            <div class="ibox-title">
                <h5>Income</h5>
            </div>
            <div class="ibox-content">
                <h2><strong>@item.nombre</strong></h2>
                <h5>
                    Descripción
                </h5>
                <p>
                    @item.descipcion
                </p>
                <div class="user-button">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-sm btn-block" href="@Url.Action("Create", new { id = item.id })"><i class="fa fa-envelope" aria-hidden="true"></i>Denunciar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
    


